/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styles */
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  background: #f5f5f7;
  color: #28292d;

  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1;
}

.container {
  box-sizing: border-box;
  padding: 0 2vw;
}

@media (max-width: 769px) {
  .container {
    padding: 0 4.6vw;
  }
}

.header__left_logo {
  width: 12vw;
}

@media (max-width: 769px) {
  .header__left_logo {
    width: 45vw;
  }
}

.homeMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.86vw;
  padding-bottom: 0.24vw;
}

@media (max-width: 769px) {
  .header_container {
    padding-top: 2.2vw;
    padding-bottom: 4.26vw;
  }
}

.header_left {
  display: flex;
  align-items: center;
  gap: 0.4vw;
}

.header__left_city_container {
  display: flex;
  align-items: center;
  font-family: Proxima Nova;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #292a2e;
  gap: 0.5vw;
}

.header__left_city_arr {
  width: 1.25vw;
}

.header__right_busket {
  width: 1.25vw;
}

@media (max-width: 769px) {
  .header__right_busket {
    width: 6.4vw;
  }
}

.header__right_phone {
  font-family: Proxima Nova;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.header__right_line {
  width: 0.05vw;
  height: 1vw;
  background: #60626c99;
}

.header_right {
  gap: 0.83vw;
  display: flex;
  align-items: center;
}

.header__right_busket_container {
  display: flex;
  align-items: center;
  gap: 0.2vw;
}

@media (max-width: 769px) {
  .header__right_busket_container {
    gap: 2.1vw;
  }
}

.header__right_busket_num {
  width: 1.8vw;
  height: 1.25vw;
  border-radius: 1vw;
  border: 0.05vw solid #60626c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Proxima Nova;
  font-size: 0.8vw;
  font-weight: 600;
  color: #292a2e;
}

@media (max-width: 769px) {
  .header__right_busket_num {
    font-size: 3.2vw;
    border: 0.26vw solid #60626c;
    border-radius: 5.2vw;
    width: 9.6vw;
    height: 6.4vw;
  }
}

.header__right_phone {
  font-size: 1vw;
  font-weight: 600;
}

.footer_container {
  background: #292a2e;
  width: 100%;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f7;
  font-family: Proxima Nova;
  font-weight: 900;
  font-size: 10vw;
}

.catalogPnav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: Inter;
  font-size: 0.72vw;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.catalogPnav_left {
  align-items: center;
  display: flex;
}

.catalogPnav__left_catalogParr {
  display: flex;
  align-items: center;
}

.catalogPnav__right_navEl_sell_btn {
  padding: 0.2vw 0.3vw;
  gap: 0.5vw;
  border-radius: 0.3vw;
  background: linear-gradient(90deg, #f35816 0%, #a43b0f 100%);
  font-family: Proxima Nova;
  font-size: 0.6vw;
  font-weight: 600;
  color: #eeeeee;
}

.catalogPnav_right {
  display: flex;
  align-items: center;
  gap: 1.7vw;
}

.catalogPnav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 770px) {
  .catalogPnav2 {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
}

.catalogPnav__let_burger {
  width: 10.6vw;
}

.catalogPnav__right_numTel {
  font-family: Proxima Nova;
  font-size: 3.73vw;
  font-weight: 600;
}

.catalogPnav__right_navEl {
  display: flex;
  align-items: center;
}

.catalogPnav__right_navEl_sell_btn {
  margin-left: 0.2vw;
}

.catalogPnav__right_navEl_oZavode_img {
  margin-left: 0.42vw;
}

.catalogPnav__left_img {
  width: 1.25vw;
}

.catalogPnav__left_catalogParr_txt {
  margin: 0 0.42vw 0 0.83vw;
}

.horizontalLine {
  width: 100%;
  border-bottom: 0.05vw solid #60626c26;
  margin-bottom: 0.83vw;
}

.mainText {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20vw;
  border-bottom: 0.05vw solid #60626c99;
}

@media (max-width: 769px) {
  .mainText {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 93vw;
    padding: 10vw 0 21.3vw 0;
    gap: 8.52vw;
    text-align: left;
    justify-content: start;
  }
}

.mainText_left {
  font-family: Proxima Nova;
  font-size: 3.75vw;
  font-weight: 600;
  max-width: 40vw;
  color: #292a2e;
}

@media (max-width: 769px) {
  .mainText_left {
    font-size: 9vw;
    max-width: 100vw;
  }
}

.mainText_right {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  width: 40vw;
  letter-spacing: -0.02em;
  padding: 1.66vw 8vw 0 0;
  font-family: Inter;
  font-size: 0.93vw;
  font-weight: 400;
}

@media (max-width: 769px) {
  .mainText_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    font-size: 3.73vw;
    gap: 4.26vw;
  }
}

.priceOnSystemContent__top_left_pricesData {
  display: flex;
  gap: 0.42vw;
  align-items: center;
}

@media (max-width: 769px) {
  .priceOnSystemContent__top_left_pricesData {
    gap: 2.1vw;
    margin-bottom: 4.26vw;
  }
}

.priceOnSystemContent__top_left_pricesData_txt {
  font-family: Inter;
  font-size: 0.72vw;
  font-weight: 600;
  color: #292a2e;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_left_pricesData_txt {
    font-size: 2.6vw;
  }
}

.priceOnSystemContent__top_left_pricesData_data {
  color: #787b87;
  font-family: Inter;
  font-size: 0.72vw;
  font-weight: 600;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_left_pricesData_data {
    font-size: 2.6vw;
  }
}

.priceOnSystemContent__top_left_h1 {
  font-family: Proxima Nova;
  font-size: 2.9vw;
  font-weight: 600;
  color: #f35816;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_left_h1 {
    font-size: 7.5vw;
  }
}

.priceOnSystemContent__top_left_h2 {
  font-family: Inter;
  font-size: 0.93vw;
  font-weight: 400;
  color: #292a2e;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_left_h2 {
    font-size: 3.73vw;
  }
}

.priceOnSystemContent__top_left {
  max-width: 50vw;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_left {
    max-width: 100vw;
  }
}

.priceOnSystemContent__top_left_h2 {
  max-width: 40vw;
  margin-top: 1.66vw;
  margin-bottom: 2vw;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_left_h2 {
    max-width: 85%;
    margin-top: 4.2vw;
    margin-bottom: 4.2vw;
  }
}

.priceOnSystemContent__top_left_pricesData_calendar {
  width: 1.35vw;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_left_pricesData_calendar {
    width: 6.4vw;
  }
}

.priceOnSystemContent__top_right {
  width: 20.5vw;
  height: 8vw;
  background: #60626c26;
  border-radius: 0.42vw;
  padding: 0.83vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_right {
    width: 100%;
    height: 26.6vw;
    border-radius: 2.1vw;
    padding: 4.26vw;
  }
}

.priceOnSystemContent__top_right_exelBtn {
  font-family: Proxima Nova;
  font-size: 0.72vw;
  font-weight: 600;
  color: #292a2e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3vw;
  background: #fafafa;
  width: 5vw;
  height: 1.25vw;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_right_exelBtn {
    font-size: 2.6vw;
    border-radius: 1.6vw;
    width: 26.5vw;
    height: 6.4vw;
  }
}

.priceOnSystemContent__top_right_txt {
  color: #292a2e;
  font-family: Proxima Nova;
  font-size: 0.93vw;
  font-weight: 600;
}
@media (max-width: 769px) {
  .priceOnSystemContent__top_right_txt {
    font-size: 3.73vw;
  }
}

.priceOnSystemContent_top {
  display: flex;
  justify-content: space-between;
  padding: 4.2vw 0 4.2vw 0;
  border-bottom: 0.05vw solid #60626c26;
  margin-bottom: 1.25vw;
}
@media (max-width: 769px) {
  .priceOnSystemContent_top {
    display: flex;
    flex-direction: column;
    padding: 13vw 0 13vw 0;
  }
}

.priceOnSystemContent__drenSyst_container {
  display: flex;
  flex-direction: column;
  gap: 0.42vw;
  margin-bottom: 1.66vw;
}
@media (max-width: 769px) {
  .priceOnSystemContent__drenSyst_container {
    gap: 2.1vw;
    margin-bottom: 6.4vw;
  }
}

.priceOnSystemContent__drenSyst_txt1 {
  display: flex;
  justify-content: space-between;
}

.priceOnSystemContent__drenSyst_txt1_txt {
  font-family: Proxima Nova;
  font-size: 1.25vw;
  font-weight: 600;
  color: #292a2e;
}
@media (max-width: 769px) {
  .priceOnSystemContent__drenSyst_txt1_txt {
    font-size: 4.26vw;
  }
}

.priceOnSystemContent__drenSyst_txt1_01 {
  font-family: Inter;
  font-size: 0.72vw;
  font-weight: 600;
  color: #292a2e99;
}
@media (max-width: 769px) {
  .priceOnSystemContent__drenSyst_txt1_01 {
    font-size: 2.6vw;
  }
}

.priceOnSystemContent__drenSyst_txt2 {
  color: #292a2e99;
  font-family: Inter;
  font-size: 0.83vw;
  font-weight: 400;
}
@media (max-width: 769px) {
  .priceOnSystemContent__drenSyst_txt2 {
    font-size: 3.2vw;
  }
}

.priceOnSystemContent_propertiesPprice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Inter;
  font-size: 0.72vw;
  font-weight: 600;
  color: #292a2e99;
  padding: 1.66vw 1.25vw;
  background: #fafafa;
}
@media (max-width: 769px) {
  .priceOnSystemContent_propertiesPprice {
    padding: 6.4vw 2.1vw;
    font-size: 2vw;
  }
}

.priceOnSystemContent__propertiesPprice_r {
  margin-right: 15vw;
}
@media (max-width: 769px) {
  .priceOnSystemContent__propertiesPprice_r {
    margin: 0;
  }
}

.priceOnSystemContent_tableUpStatic {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 0.72vw;
  font-weight: 600;
  color: #292a2e99;
  padding: 1.66vw 1.25vw;
  text-align: left;
}
@media (max-width: 769px) {
  .priceOnSystemContent_tableUpStatic {
    font-size: 1.5vw;
    padding: 6.4vw 2.1vw;
  }
}

.priceOnSystemContent__tableUpStatic_el_1 {
  width: 22%;
}

.priceOnSystemContent__tableUpStatic_el_2 {
  width: 13%;
}

.priceOnSystemContent_tableCont {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 0.93vw;
  font-weight: 400;
  color: #292a2e;
  padding: 1.66vw 1.25vw;
  text-align: left;
}
@media (max-width: 769px) {
  .priceOnSystemContent_tableCont {
    font-size: 2vw;
    padding: 6.4vw 2.1vw;
  }
}

.priceOnSystemContent__tableUpStatic_el_1_cont {
  font-family: Proxima Nova;
  font-size: 0.93vw;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left;
  color: #292a2e;
}
@media (max-width: 769px) {
  .priceOnSystemContent__tableUpStatic_el_1_cont {
    font-size: 2vw;
  }
}

.orange {
  color: #f35816;
}

@media (max-width: 769px) {
  .header__left_city_container {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
}

@media (max-width: 769px) {
  .header__right_phone {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
}

@media (max-width: 769px) {
  .header__right_line {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
}

@media (max-width: 769px) {
  .catalogPnav {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
}

@media (min-width: 770px) {
  .tableScrollingPart {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
}

@media (max-width: 769px) {
  .tableScrollingPartBigScreen {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
}

.tableScrollingPart {
  min-width: 1000px;
}

@media (max-width: 420px) {
  .tableScrollingPart {
    min-width: 600px;
  }
}

.tableScrollingWrapper {
  overflow-x: auto;
  white-space: nowrap;
}
